#container {
  display: grid;
  grid-template-columns: auto auto auto;

}
#grid-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
