<div id="grid-contianer">
<div id="grid-item">
  <h1>Data Visualisation Test Ground</h1>
</div>
<div id="grid-item">
  <app-report></app-report>
</div>

<div id="grid-item" style="display: flex; justify-content: center;">
<iframe title="Power BI report pi chart - Page 1" width="800" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiZjhmNWRlOWMtYWRiMi00YmU2LThlM2UtNTc2MTVkZDVlMTdkIiwidCI6Ijc5OTU3YmNkLTc4MWUtNDUwYy1hNGNiLTY3MTY4Yzk2MGU3NiIsImMiOjh9" frameborder="0" allowFullScreen="false" style="border: 1px solid rgba(0, 0, 0, 0.082);"></iframe>
</div>

</div>
